.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 20em;
  background: linear-gradient(
    45deg,
    rgba(129, 37, 226, 1),
    rgba(174, 98, 255, 1)
  );
  transform: perspective(1000px);
  transform-style: preserve-3d;
  border-radius: 8px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 200ms ease-out;
}

.box h1 {
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 600;
  text-shadow: 0 0 22px rgba(0, 0, 0, 0.7);
  transform: translateZ(50px);
}

.bubbles {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
}

.bubbles span {
  display: inline-flex;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.1rem;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.7);
  transform: translateZ(50px);
}

.plus {
  position: absolute;
  top: 0.8rem;
  right: 1.8rem;
  font-size: 2.3rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 0 22px rgba(0, 0, 0, 0.7);
  transform: translateZ(50px) rotate(45deg);
}
